<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

    <variable name="appName" value="Photo Tufin" />
    
    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File"
                name="logfile"
                fileName="${specialfolder:CommonApplicationData}\${appName}\${shortdate} Error.log"
                maxArchiveDays="7"
                maxArchiveFiles="3"
                layout="${longdate} - ${callsite:methodName=true} - ${level:uppercase=true}: ${message} ${onexception:${newline}EXCEPTION\:${exception:format=tostring}}"
        />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>